{% extends 'base.html' %}

{% block meta %}
    <title>{{app_name}}</title>
    <style>
        body {
            background-color: #541e5c; /* Replace #FF0000 with your desired color */
            color: white;
        }
    </style>
{% endblock meta %}

{% block content %}
    <h1>{{app_name}}:</h1>
    <h2>Sebuah website penyimpanan album</h2>
    <hr>
    <h3>{{name}}</h3>
    <h3>{{class}}</h3>
    <hr>
    <h3>Username: {{username}}</h3>
    <hr>
    {% if banyak_item == 0 %}
        <h3 style="color: #e8c7fd;">Kamu belum menyimpan apapun pada aplikasi ini.</h3>
    {% else %}
        <h3 style="color: #e8c7fd;">Kamu telah menyimpan {{banyak_item}} album pada aplikasi ini:</h3>
        <table>
            <tr>
                <th style="border: 1px solid black; text-align: center;">&nbsp; Name &nbsp;</th>
                <th style="border: 1px solid black; text-align: center;">&nbsp; Artist &nbsp;</th>
                <th style="border: 1px solid black; text-align: center;">&nbsp; Rating &nbsp;</th>
                <th style="border: 1px solid black; text-align: center;">&nbsp; Description &nbsp;</th>
                <th style="border: 1px solid black; text-align: center;">&nbsp; Amount &nbsp;</th>
            </tr>
        
            {% for item in items %}
                <tr>
                    <td style="border: 1px solid black; text-align: center;"> &nbsp; {{item.name}} &nbsp; </td>
                    <td style="border: 1px solid black; text-align: center;"> &nbsp; {{item.artist}} &nbsp; </td>
                    <td style="border: 1px solid black; text-align: center;"> &nbsp; {{item.rating}}/10 &nbsp; </td>
                    <td style="border: 1px solid black; text-align: center;"> &nbsp; {{item.description}} &nbsp; </td>
                    <td style="border: 1px solid black; text-align: center;"> &nbsp; {{item.amount}} &nbsp; </td>
                    <td style="border: 1px solid black; text-align: center;">
                        <a href="{% url 'main:inc_item' item.id %}">
                            <button style="color: green; height:22px; width:22px; font-weight: bold;"> + </button>
                        </a>
                    </td>
                    <td style="border: 1px solid black; text-align: center;">
                        <a href="{% url 'main:dec_item' item.id %}">
                            <button style="color: blue; height:22px; width:22px; font-weight: bold;"> - </button>
                        </a>
                    </td>
                    <td style="border: 1px solid black; text-align: center;">
                        <a href="{% url 'main:del_item' item.id %}">
                            <button style="color: red; height:22px; width:22px; font-weight: bold;"> x </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br>
    {% endif %}
    <a href="{% url 'main:create_item' %}">
        <button style="font-weight: bold;">
            Add New Album
        </button>
    </a>
    <a href="{% url 'main:logout' %}">
        <button style="font-weight: bold;">
            Logout
        </button>
    </a>
    <h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}
